.Nav {
    position: sticky;
    top: 0;
    left: 0;
    right: 0;

    width: 100%;
    height: 50px;
    background-color: #FFAC5F;
    display: flex;
    align-items: center;
}

.Logo {
    margin-left: 30px;
}

.SearchBox {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.Menu {
    margin-left: auto;
    margin-right: 30px;
}
.Menu img {
    width: 30px;
    height: 30px;
}